.o
.so
/Debug/
/.settings/
.settings/
/.settings
/.settings/
/.settings/*
/.settings/language.settings.xml
.settings/org.eclipse.cdt.managedbuilder.core.prefs

/Default/

.pydevproject
.cproject
.project
